body{
    margin:0;
    padding:0;
    width:100%;
    height:100%;
    font-family: "Open Sans";
}


.header{
    display:flex;
    height:110px;
    /*border-bottom:2px solid #841717;*/
    width:100%;
}

nav.nav{
    background-color:#841717;
}

nav.nav a{
    color:white;
    font-weight: bold;
}

nav.nav a:hover{
    background-color: white;
    color:#841717;
}

tr{
    border-bottom:1px solid rgba(132,23,23,0.5) ;
}

div.logo{
    width:70px;
    margin:auto;
}

div.organisation{
    width:90%;
    text-align: center;
    margin:auto;
}

img{
    width:70px;
}

footer{
    border-top:2px solid #841717;
    position:fixed;
    bottom:0;
    left:87.5px;
    right:87.5px;
}

a{
    text-decoration: none;
    color:black;
}

div.question{
    padding:40px;
    border-bottom:1px solid rgba(132,23,23,0.5)
}