{#un commentaire#}


{#si je veux rediriger vers un autre fichier twig, je vais mettre
dans mon href

les {{  }} est comme un echo, je vais y mettre le chemin (le name dans l'annotation dans le controller)

#}

{% extends 'base.html.twig' %}

    {% block title %}DemoLiquide | Foire aux questions{% endblock %}

{% block content %}
    <h1>Foire aux questions </h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A accusamus architecto, at culpa deleniti distinctio
        dolorem, ea exercitationem facere facilis fuga magni officia perspiciatis possimus quas qui suscipit velit
        veniam!</p>

{% endblock %}
