
{#on va inclure le fichier base qui est commun à toutes les pages#}

{% extends 'base.html.twig' %}

    {% block title %}DemoLiquide | Le peuple au pouvoir{% endblock %}

{% block content %}
    <h1>youhou, c'est la homepage!!!! </h1>

{% endblock %}

